<!DOCTYPE html>
<html>
	<head>
		<title>Shopper</title>
		<script src="js/vue_2_6_11_dev.js"></script>
		<script type="module" src="js/app.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="wrapper">
			<header-wrapper :buttons="buttons" @press="setPage"></header-wrapper>
			<div class="card" v-show="activePage == 'home'">
				<h3>Home</h3>
				<div class="content">
					een stukkie content.
				</div>
			</div>
			<div class="card" v-show="activePage == 'cart'">
				<h3>Shopping Cart</h3>
			</div>
			<div class="card" v-show="activePage == 'calendar'">
				<h3>Calendar</h3>
			</div>
			<div class="card" v-show="activePage == 'product'">
				<h3>Products</h3>
				<nav>
					<li :class="{active: activeSection == 'products'}" @click="activeSection = 'products'">Products</li>
					<li :class="{active: activeSection == 'types'}" @click="activeSection = 'types'">Categories</li>
				</nav>
				<section id="products" class="content" v-show="activeSection == 'products'">
					<div class="flex">
						<input type="search" v-model="search" placeholder="Search products" />
						<button class="circle" @click="showDialog('new-product-dialog')">
							<i class="material-icons">add</i>
						</button>
					</div>
					<product-list
						:products="products"
						:query="search"
					></product-list>
				</section>
				<section id="categories" class="content" v-show="activeSection == 'types'">
					<div class="flex">
						<input type="search" v-model="search" placeholder="Search product types" />
						<button class="circle" @click="showDialog('new-product-type-dialog')">
							<i class="material-icons">add</i>
						</button>
					</div>
					
					<product-list
						:products="product_types"
						:is-type="true"
						:query="search"
					></product-list>
				</section>
			</div>
			<div class="card" v-show="activePage == 'recipe'">
				<h3>Recipe book</h3>
				<div class="content">
					<div class="flex">
						<input type="search" v-model="search" placeholder="Search in the recipe book" />
						<button class="circle" @click="showDialog('new-recipe-dialog')">
							<i class="material-icons">add</i>
						</button>
					</div>

					<list
						:items="recipes"
						:query="search"
						@add-to-cart="addToCart"
					></list>
				</div>
			</div>

			<new-product-dialog 
				:visible="dialogVisible == 'new-product-dialog'"
				:types="product_types"
				@close-dialog="closeDialog"
				@response="addProduct"
			></new-product-dialog>

			<new-product-type-dialog
				:visible="dialogVisible == 'new-product-type-dialog'"
				@close-dialog="closeDialog"
				@response="addProductType"
			></new-product-type-dialog>
		</div>
	</body>
</html>