<html>
	<head>
		<title>Shopper</title>
		<script src="js/vue_2_6_11_dev.js"></script>
		<script type="module" src="js/app.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="wrapper">
			<header-wrapper :buttons="buttons" @press="setPage"></header-wrapper>
			<div class="card" v-show="activePage == 'home'">
				<h3>Home</h3>
				<div class="content">
					een stukkie content.
				</div>
			</div>
			<div class="card" v-show="activePage == 'cart'">
				<h3>Shopping Cart</h3>
			</div>
			<div class="card" v-show="activePage == 'calendar'">
				<h3>Calendar</h3>
			</div>
			<div class="card" v-show="activePage == 'product'">
				<h3>Products</h3>
				<nav>
					<li :class="{active: activeSection == 'products'}" @click="activeSection = 'products'">Products</li>
					<li :class="{active: activeSection == 'types'}" @click="activeSection = 'types'">Categories</li>
				</nav>
				<section id="products" class="content" v-show="activeSection == 'products'">
					<button @click="newProductDialog">New product</button>
					<ul>
						<li v-for="product in products">{{ product.name }} - {{ product_types[product.type].name }}</li>
					</ul>
				</section>
				<section id="categories" class="content" v-show="activeSection == 'types'">
					<button @click="newProductTypeDialog">New type</button>
					<ul>
						<li v-for="type in product_types">{{ type.name }}</li>
					</ul>
				</section>
			</div>

			<new-product-dialog v-bind:visible="dialogVisible == 'new-product-dialog'" @close-dialog="closeDialog" @update="update"></new-product-dialog>
		</div>
	</body>
</html>