$bgColour: #121212;
$fgColour: #FFFFFF;

$bgAltColour: #90caf9;
$fgAltColour: #000000;

$bg: rgba(255, 255, 255, 0.075);

$baseWidth: 1000px;
$mobileWidth: 750px;

$animTime: 0.25s;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@mixin reset{
	margin: 0;
	padding: 0;
	border: none;
}

@mixin h{
	@include reset;
	padding: 6px 24px;
	background-color: $bg;
	border-bottom: 1px solid $bgAltColour;
}

@mixin input{
	background-color: $bg;
	color: $fgColour;
	box-sizing: border-box;

	font-family: "Open Sans";

	border: none;

	transition: all $animTime ease-in-out;
}

body{
	@include reset;

	background-color: $bgColour;
	color: $fgColour;
	font-family: "Open Sans";
}

h3{
	@include h;
	font-size: 24px;
}

h4{
	@include h;
	font-size: 18px;
}

input, select, textarea{
	@include input;

	padding: 4px;
	margin: 8px 0px;
	width: 100%;

	font-size: 1em;

	border-bottom: 1px solid $fgColour;
	border-radius: 2px;

	option{
		background-color: #333333;
	}

	&:focus {
		border: none;
		outline: none;
		border-bottom: 1px solid $bgAltColour;
	}
}

button{
	@include input;

	margin: 8px 8px;
	padding: 8px 16px;

	font-size: 16px;

	border-radius: 4px;

	&.circle{
		$circ: 48px;

		width: $circ;
		min-width: $circ; /* Yup, we must force this, otherwise the flexbox will still
							resize it on small displays */
		height: $circ;
		line-height: $circ;
		padding: 0;

		border-radius: 50%;
		font-size: 28px;
	}

	&:hover{
		color: $fgAltColour;
		background-color: $bgAltColour;
	}
}

dialog{
	@include reset;

	width: 100%;
	max-width: $baseWidth / 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	background-color: rgba(18, 18, 18, 0.2) !important;
	backdrop-filter: blur(10px);
	color: $fgColour;

	box-shadow: 0px 0px 5px 1px $bgAltColour;
}

#wrapper{
	margin: auto;
	max-width: $baseWidth;
}

.flex{
	display: flex;
	justify-self: space-evenly;
	align-items: stretch;

	&.nostretch{
		align-items: center;
	}
}