@use "base";

$border: 2px;

.card{
	background-color: base.$bg;
	border-radius: 4px;
	margin-top: 32px;

	.content{
		padding: 12px 48px;
	}

	nav{
		background-color: base.$bg;
		text-align: center;

		li {
			display: inline-block;
			height: 32px;
			min-width: 20%;
			line-height: 32px;
			padding: 2px 12px;
			cursor: pointer;

			transition: all base.$animTime ease-in-out;

			&:hover{
				box-shadow: inset $border -$border 0px -$border base.$bgAltColour;
			}

			&.active{
				background-color: base.$bg;
			}
		}
	}
}