@use "base";

header{
	background-color: base.$bg;
	border-radius: 4px;

	.button{
		$height: 64px;
		$border: 3px;

		&.active{
			background-color: base.$bgAltColour;
			color: base.$fgAltColour;

			&:hover{
				border-bottom: 0;
				height: $height;
			}
		}

		&:hover{
			box-shadow: inset $border -$border 0px -$border base.$bgAltColour;
		}

		span, i{
			font-size: 20px;
			vertical-align: middle;
		}

		@media (max-width: base.$mobileWidth){
			i{
				font-size: 36px;
			}
			span{
				display: none;
			}
		}

		cursor: pointer;

		display: inline-block;
		height: $height;
		width: calc(25% - 48px);
		line-height: $height;
		padding: 4px 24px;
		text-align: center;

		transition: all base.$animTime ease-in-out;
	}
}